// Variables

$mainBackgroundColor: cyan;

// Mixins
@mixin fakeItem {
    text-align: center;
    color: white;
    background-color: $mainBackgroundColor;
}

// Styles
html {
    @include fakeItem;
}