// Variables
$mainBackgroundColor: white;

// Imports
@import "abstracts/variables";
@import "abstracts/mixins";

@import "layouts/navigation";

@import "ui_elements/fonts";
@import "ui_elements/buttons";

@import "pages/home";

// Styles
body, html {
    width: 100%;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}