// Fonts
@mixin khula-font($weight, $size) {
    font: {
        family: Khula;
        weight: $weight;
        size: $size;
    }
}

// Gradient
@mixin background-gradient($startColor, $endColor) {
    background-image:
        linear-gradient(
        to top right, 
        $startColor, $endColor
    );
}