// Variables

// Colors
$footerBackGroundColor: #fafafa;
$inputBackGroundColor: #fafafa; 
$dividerColor: #e9e9e9;
$sectionBBackgroundColor: #f7f7f7;
$numberGradientStartColor:  #559dff;
$numberGradientEndColor:  #377cff;
$backgroundGradientStartColor: #61aaff;
$backgroundGradientEndColor: #2a6dff;
$emailFieldBorderColor: #979797;
$footerLinksColor: #001833;
$footerTextColor: #959595;
$blueColor: #61aaff;

// Sizes
$minPageWidth: 1280px;
$buttonIconWidth: 13px;
$buttonIconHeight: 8px;
$buttonWidth: 192px;
$buttonHeight: 56px;
$buttonWidthSmall: 189px;
$buttonHeightSmall: 46px;