@font-face {
  font-family: Khula;
  src: url("/assets/fonts/Khula-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Khula;
  src: url("/assets/fonts/Khula-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Khula;
  src: url("/assets/fonts/Khula-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Khula;
  src: url("/assets/fonts/Khula-Semibold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: SFUIText;
  src: url("/assets/fonts/SFUIText-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: SFUIText;
  src: url("/assets/fonts/SFUIText-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
.navbar-logo {
  margin-top: 32px;
  margin-left: 25px;
  width: 190px;
  height: 47px;
}
.navbar-link {
  text-align: center;
  padding-right: 30px;
  text-decoration: none;
  color: black;
  font-family: Khula;
  font-weight: 400;
  font-size: 14px;
}
.navbar-item-left {
  grid-area: item-left;
  justify-self: start;
  align-self: center;
}
.navbar-item-right {
  grid-area: item-right;
  justify-self: end;
  align-self: center;
}
.navbar-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "item-left item-right";
}

.empty-small {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: Khula;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid #61aaff;
  color: #61aaff;
  width: 192px;
  height: 46px;
}
.empty-large {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: Khula;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid #61aaff;
  color: #61aaff;
  width: 192px;
  height: 56px;
}
.empty-white {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: Khula;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid white;
  color: white;
  width: 192px;
  height: 56px;
}

.filled-small {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: Khula;
  font-weight: 600;
  font-size: 16px;
  border: none;
  background-color: #61aaff;
  color: white;
  width: 189px;
  height: 56px;
}
.filled-large {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: Khula;
  font-weight: 600;
  font-size: 16px;
  border: none;
  background-color: #61aaff;
  color: white;
  width: 192px;
  height: 56px;
}

.button-icon:after {
  content: "";
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: center;
  width: 13px;
  height: 8px;
  float: right;
  margin-top: 6px;
  margin-right: 17px;
}

.arrow-white:after {
  background-image: url("/assets/images/WhiteArrow.svg");
}

.arrow-blue:after {
  background-image: url("/assets/images/BlueArrow.svg");
}

.home-header {
  grid-area: header;
}
.home-section-a {
  grid-area: section-a;
}
.home-section-b {
  grid-area: section-b;
}
.home-section-c {
  grid-area: section-c;
  background-color: blue;
}
.home-section-d {
  grid-area: section-d;
}
.home-section-e {
  grid-area: section-e;
}
.home-footer {
  grid-area: footer;
  background-color: #fafafa;
}
.home-container {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 95px auto auto auto auto auto auto;
  grid-template-areas: "header header header" ". section-a ." ". section-b ." "section-c section-c section-c" ". section-d ." ". section-e ." "footer footer footer";
}

.cryptocurrency-text {
  grid-area: text-content;
}
.cryptocurrency-text h1 {
  margin-top: 208px;
  margin-left: 115px;
  color: black;
  text-align: left;
  font-family: Khula;
  font-size: 56px;
  font-weight: 300;
}
.cryptocurrency-text p {
  margin-left: 116px;
  color: black;
  text-align: left;
  font-family: Khula;
  font-size: 16px;
  font-weight: 400;
}
.cryptocurrency-text form {
  display: inline;
  margin-left: 117px;
}
.cryptocurrency-text input {
  width: 388px;
  height: 56px;
  background-color: #fafafa;
  border: none;
  padding: 0 20px;
}
.cryptocurrency-text input, .cryptocurrency-text input::placeholder, .cryptocurrency-text input::selection {
  font-family: Khula;
  font-size: 16px;
  font-weight: 400;
}
.cryptocurrency-images {
  grid-area: images;
}
.cryptocurrency-divider {
  grid-area: divider;
}
.cryptocurrency-divider hr {
  margin-top: 7px;
  width: 342px;
  height: 2px;
  background-color: #e9e9e9;
  border: none;
}
.cryptocurrency-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "text-content images" "divider divider";
}

.silver-phone {
  float: right;
  text-align: right;
  margin-top: 140px;
  margin-right: 84px;
  width: 348px;
  height: 569px;
}
.silver-phone-shadow {
  margin-top: -24px;
  margin-right: -20px;
}

/*# sourceMappingURL=main.css.map */
