@font-face {
  font-family: Khula;
  src: url("/assets/fonts/Khula-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Khula;
  src: url("/assets/fonts/Khula-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Khula;
  src: url("/assets/fonts/Khula-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Khula;
  src: url("/assets/fonts/Khula-Semibold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: SFUIText;
  src: url("/assets/fonts/SFUIText-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: SFUIText;
  src: url("/assets/fonts/SFUIText-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
.navbar-container {
  display: flex;
  margin-top: 31px;
}
.navbar-item-left {
  flex: 30%;
  padding-left: 23px;
}
.navbar-item-left a {
  width: 190px;
  height: 47px;
}
.navbar-item-right {
  display: flex;
  justify-content: flex-end;
  flex: 70%;
  padding: 12px 40px;
}
.navbar-item-right a {
  align-self: center;
  text-align: center;
  padding-right: 65px;
  text-decoration: none;
  color: black;
  font-family: Khula;
  font-weight: 400;
  font-size: 14px;
}

.empty-small {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: Khula;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid #61aaff;
  color: #61aaff;
  width: 192px;
  height: 46px;
}
.empty-large {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: Khula;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid #61aaff;
  color: #61aaff;
  width: 192px;
  height: 56px;
}
.empty-white {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: Khula;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid white;
  color: white;
  width: 192px;
  height: 56px;
}

.filled-small {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: Khula;
  font-weight: 600;
  font-size: 16px;
  border: none;
  background-color: #61aaff;
  color: white;
  width: 189px;
  height: 56px;
}
.filled-large {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: Khula;
  font-weight: 600;
  font-size: 16px;
  border: none;
  background-color: #61aaff;
  color: white;
  width: 192px;
  height: 56px;
}

.button-icon:after {
  content: "";
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: center;
  width: 13px;
  height: 8px;
  float: right;
  margin-top: 6px;
  margin-right: 17px;
}

.arrow-white:after {
  background-image: url("/assets/images/WhiteArrow.svg");
}

.arrow-blue:after {
  background-image: url("/assets/images/BlueArrow.svg");
}

.home-section-a {
  display: flex;
  flex-wrap: wrap;
}
.home-section-a-left {
  flex: 66.6%;
}
.home-section-a-left h1 {
  margin-top: 208px;
  margin-left: 115px;
  color: black;
  text-align: left;
  font-family: Khula;
  font-weight: 300;
  font-size: 56px;
}
.home-section-a-left p {
  margin-left: 116px;
  color: black;
  text-align: left;
  font-family: Khula;
  font-weight: 400;
  font-size: 16px;
}
.home-section-a-left form {
  display: inline;
  margin-left: 117px;
}
.home-section-a-left input {
  width: 388px;
  height: 56px;
  background-color: #fafafa;
  border: none;
  padding: 0 20px;
}
.home-section-a-left input, .home-section-a-left input::placeholder {
  font-family: Khula;
  font-weight: 400;
  font-size: 16px;
}
.home-section-a-right {
  flex: 33.3%;
}
.home-section-a hr {
  align-self: center;
  margin-top: 7px;
  width: 342px;
  height: 2px;
  background-color: #e9e9e9;
  border: none;
}
.home-section-b {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-section-b-title h1 {
  margin-top: 105px;
  color: black;
  text-align: center;
  font-family: Khula;
  font-weight: 300;
  font-size: 56px;
}
.home-section-b-content {
  display: block;
  width: 100%;
  height: 410px;
  margin-top: 194px;
  background-color: #f7f7f7;
}
.home-section-b-content li {
  width: 43px;
  height: 43px;
  background-color: blue;
  color: white;
}
.home-section-c {
  display: flex;
}
.home-section-d {
  display: flex;
}
.home-section-e {
  display: flex;
}

.silver-phone {
  float: right;
  margin-top: 140px;
  margin-right: 84px;
  width: 348px;
  height: 569px;
}
.silver-phone-shadow {
  margin-top: -24px;
  margin-right: -20px;
}

.black-phone {
  float: left;
  margin-top: -79px;
  margin-left: 63px;
  width: 348px;
  height: 569px;
}
.black-phone-shadow {
  margin-top: -24px;
  margin-right: -20px;
}

/*# sourceMappingURL=main.css.map */
