.navbar-container {
  display: flex;
  justify-content: space-between;
  min-width: 280px;
  margin-top: 15px;
}
.navbar-logo {
  padding-left: 20px;
}
.navbar-logo a {
  width: 88px;
  height: 21px;
}
.navbar-links {
  display: none;
}
.navbar-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 20px;
}
.navbar-menu-container {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 320px;
  height: 570px;
  min-width: 320px;
  margin-top: 30px;
  margin-right: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: absolute;
}
.navbar-menu-container a {
  margin-left: 70px;
  text-decoration: none;
  font-family: Khula, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.navbar-menu-container button {
  align-self: center;
}
.navbar-menu-shown {
  display: flex;
}

@media screen and (min-width: 700px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    min-width: 1280px;
    margin-top: 31px;
  }
  .navbar-logo {
    padding-left: 23px;
  }
  .navbar-logo a {
    width: 190px;
    height: 47px;
  }
  .navbar-links {
    display: flex;
    justify-content: flex-end;
    padding: 12px 40px;
  }
  .navbar-links a {
    align-self: center;
    padding-right: 65px;
    text-decoration: none;
    font-family: Khula, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
  }
  .navbar-menu {
    display: none;
  }
}
.footer-container, .footer-navbar, .footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-container {
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 2674px;
  min-width: 280px;
  background-color: #fafafa;
}
.footer-navbar {
  justify-content: space-between;
  width: 280px;
  height: 298px;
  margin-top: 71px;
}
.footer-links {
  justify-content: space-between;
  width: inherit;
  height: 197px;
}
.footer-links a {
  font-family: Khula, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: #001833;
}
.footer-social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 118px;
  height: 19px;
}
.footer-social-links a {
  background-repeat: no-repeat;
}
.footer-social-links a:hover {
  opacity: 0.5;
}
.footer-social-links a.twitter {
  background-image: url("/assets/images/TwitterLogo.svg");
}
.footer-social-links a.facebook {
  background-image: url("/assets/images/FaceBookLogo.svg");
}
.footer-social-links a.m {
  background-image: url("/assets/images/MLogo.svg");
}
.footer-title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 280px;
  height: 130px;
}
.footer-title p {
  font-family: Khula, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #959595;
  text-align: center;
  height: 66px;
}
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
}
.footer-text {
  font-family: Khula, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #959595;
  width: inherit;
}
.footer-text p {
  text-align: justify;
  line-height: 22px;
  letter-spacing: 0.5px;
}
.footer-text a {
  color: #959595;
  text-decoration: underline;
}
.footer-divider {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 132px;
  height: 66px;
}
.footer-divider hr {
  width: inherit;
  height: 1px;
  background-color: #e9e9e9;
  border: none;
}

@media screen and (min-width: 700px) {
  .footer-container {
    justify-content: flex-start;
    height: 1413px;
    min-width: 1280px;
  }
  .footer-navbar {
    flex-direction: row;
    align-items: flex-end;
    width: 844px;
    height: 100px;
  }
  .footer-links {
    flex-direction: row;
    width: 422px;
    height: 19px;
  }
  .footer-links a {
    font-family: Khula, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
  }
  .footer-title {
    width: 844px;
    height: 145px;
  }
  .footer-title p {
    font-family: Khula, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    height: 52px;
  }
  .footer-content {
    flex-direction: row;
    width: 844px;
  }
  .footer-text {
    font-family: Khula, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 407px;
  }
  .footer-text p {
    text-indent: 50px;
    line-height: 26px;
  }
  .footer-divider {
    display: none;
  }
}
@font-face {
  font-family: Khula;
  src: url("/assets/fonts/Khula-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Khula;
  src: url("/assets/fonts/Khula-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Khula;
  src: url("/assets/fonts/Khula-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Khula;
  src: url("/assets/fonts/Khula-Semibold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: SFUIText;
  src: url("/assets/fonts/SFUIText-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: SFUIText;
  src: url("/assets/fonts/SFUIText-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
.empty-small, .empty-blue, .empty-extra-large {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: Khula, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid #61aaff;
  color: #61aaff;
  background-color: transparent;
}
.empty-small {
  width: 192px;
  height: 46px;
}
.empty-large {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: Khula, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  width: 192px;
  height: 56px;
}
.empty-blue {
  width: 189px;
  height: 56px;
}
.empty-extra-large {
  width: 280px;
  height: 56px;
}

.filled-small, .filled-large {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: Khula, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  border: none;
  background-color: #61aaff;
  color: white;
}
.filled-small {
  width: 189px;
  height: 56px;
}
.filled-large {
  width: 192px;
  height: 56px;
}

.menu-button, .to-the-top-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.menu-button {
  margin-top: 7px;
}

.to-the-top-button {
  text-align: center;
  color: black;
  font-family: Khula, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 105px;
  height: 32px;
}

.button-icon:after {
  content: "";
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: center;
  width: 13px;
  height: 8px;
  float: right;
  margin-top: 6px;
  margin-right: 17px;
}

.arrow-white:after {
  background-image: url("/assets/images/icons/WhiteArrow.svg");
}

.arrow-blue:after {
  background-image: url("/assets/images/icons/BlueArrow.svg");
}

@media screen and (max-width: 700px) {
  .filled-large {
    width: 280px;
  }
}
.cryptocurrency-container, .cryptocurrency-text, .cryptocurrency-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cryptocurrency-container, .cryptocurrency-text {
  justify-content: flex-start;
}
.cryptocurrency-container {
  flex-wrap: wrap;
  width: 100%;
  height: 987px;
}
.cryptocurrency-content {
  justify-content: space-around;
  width: 280px;
  height: inherit;
}
.cryptocurrency-text {
  height: 427px;
}
.cryptocurrency-text h1, .cryptocurrency-text p {
  text-align: center;
  color: black;
}
.cryptocurrency-text h1 {
  font-family: Khula, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 32px;
  margin-top: 37px;
}
.cryptocurrency-text p {
  font-family: Khula, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}
.cryptocurrency-text form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  height: 129px;
  margin-top: 42px;
}
.cryptocurrency-text input {
  width: 280px;
  height: 56px;
  background-color: #fafafa;
  border: none;
  padding: 0;
  margin: 0;
}
.cryptocurrency-text input, .cryptocurrency-text input::placeholder {
  font-family: Khula, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
.cryptocurrency-images {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 560px;
}
.cryptocurrency-images-phone {
  margin: -88px 0 0 62px;
  height: 720px;
  z-index: 0;
}
.cryptocurrency-images-shadow {
  display: none;
}
.cryptocurrency-divider {
  display: none;
}

.invest-container, .invest-text, .invest-content, .invest-list-item, .invest-list-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.invest-container, .invest-text, .invest-list-item {
  justify-content: space-between;
}
.invest-content, .invest-list-content {
  justify-content: flex-start;
}
.invest-container {
  flex-wrap: wrap;
  width: 100%;
  height: 900px;
}
.invest-title {
  width: 280px;
  height: 160px;
  margin: 0;
}
.invest-title h1 {
  text-align: center;
  color: black;
  font-family: Khula, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 29px;
  margin-top: -3px;
}
.invest-content {
  width: 280px;
  height: 693px;
}
.invest-images {
  display: none;
}
.invest-text {
  width: 296px;
  height: 574px;
}
.invest-list-item {
  width: inherit;
  height: 148px;
}
.invest-list-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  text-align: center;
  color: white;
  font-family: Khula, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  background-image: linear-gradient(to top right, #559dff, #377cff);
}
.invest-list-content {
  width: inherit;
  height: 77px;
}
.invest-list-content h3, .invest-list-content p {
  text-align: center;
  color: black;
}
.invest-list-content h3 {
  font-family: Khula, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 0px;
}
.invest-list-content p {
  font-family: Khula, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0px;
}
.invest-button {
  display: none;
}

.imac-container, .imac-content, .imac-text {
  display: flex;
  flex-direction: column;
}
.imac-content, .imac-text, .imac-logos {
  justify-content: space-between;
  align-items: center;
}
.imac-container {
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 813px;
  min-width: 280px;
  margin: 0;
  background-image: linear-gradient(to top right, #61aaff, #2a6dff);
}
.imac-content {
  width: 280px;
  height: 696px;
}
.imac-text {
  width: 280px;
  height: 328px;
}
.imac-text h1, .imac-text p {
  text-align: center;
  color: white;
}
.imac-text h1 {
  font-family: Khula, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 32px;
  height: 80px;
}
.imac-text p {
  font-family: Khula, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  height: 66px;
}
.imac-logos {
  display: flex;
  width: 274px;
  height: 75px;
}
.imac-logos-xapo {
  order: 1;
  width: 75px;
}
.imac-logos-bitgo {
  order: 3;
  width: 78px;
}
.imac-logos-kt {
  order: 2;
  width: 67px;
}
.imac-button-after-text {
  display: none;
}
.imac-button-after-image {
  display: initial;
}
.imac-images {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 280px;
  height: 263px;
}
.imac-images-lock {
  display: none;
}
.imac-images-imac {
  display: flex;
  justify-content: center;
}

.advantages-container, .advantages-title, .advantages-content, .advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages-container, .advantages-content {
  justify-content: space-between;
}
.advantages-container {
  flex-wrap: wrap;
  width: 100%;
  height: 1744px;
}
.advantages-title {
  justify-content: flex-end;
  width: 280px;
  height: 249px;
}
.advantages-title h1 {
  text-align: center;
  color: black;
  font-family: Khula, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 32px;
  height: 160px;
  margin: 0;
}
.advantages-content {
  width: 280px;
  height: 1379px;
}
.advantages-item {
  justify-content: flex-start;
  width: 280px;
  height: 154px;
}
.advantages-item h3, .advantages-item p {
  text-align: center;
  color: black;
}
.advantages-item h3 {
  font-family: Khula, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-top: 21px;
}
.advantages-item p {
  font-family: Khula, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: -20px;
}

.about-container, .about-us, .about-our-partners, .about-subscribe, .about-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-us, .about-our-partners, .about-subscribe {
  justify-content: flex-end;
}
.about-container {
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 1525px;
}
.about-us {
  width: 280px;
  height: 508px;
}
.about-us h2 {
  text-align: center;
  color: black;
  font-family: Khula, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 24px;
  height: 237px;
}
.about-our-partners {
  width: 280px;
  height: 509px;
}
.about-our-partners h1, .about-our-partners p {
  text-align: center;
  color: black;
}
.about-our-partners h1 {
  font-family: Khula, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  height: 29px;
  margin: 0;
}
.about-our-partners p {
  font-family: Khula, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  height: 103px;
  margin-top: 18px;
}
.about-subscribe {
  width: 280px;
  height: 298px;
}
.about-subscribe h2 {
  text-align: center;
  color: black;
  font-family: Khula, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 24px;
  width: inherit;
  height: 70px;
}
.about-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 56px;
}
.about-logos {
  justify-content: space-between;
  width: 280px;
  height: 167px;
}
.about-email-field {
  width: inherit;
  height: 36px;
  background-color: transparent;
  padding-bottom: 6px;
  text-align: center;
  border-style: none none solid none;
  border-color: #979797;
  border-width: 1px;
}
.about-email-field, .about-email-field::placeholder {
  font-family: Khula, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.about-bottom-button {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: inherit;
  height: 170px;
}

@media screen and (min-width: 700px) {
  .cryptocurrency-container {
    justify-content: center;
    height: 835px;
  }
  .cryptocurrency-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 1280px;
    height: 625px;
  }
  .cryptocurrency-text {
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 392px;
    padding: 103px 0 0 122px;
  }
  .cryptocurrency-text h1, .cryptocurrency-text p {
    text-align: left;
    color: black;
  }
  .cryptocurrency-text h1 {
    font-family: Khula, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 56px;
    margin-top: 46px;
  }
  .cryptocurrency-text p {
    font-family: Khula, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 23px;
  }
  .cryptocurrency-text form {
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 37px;
  }
  .cryptocurrency-text input {
    width: 348px;
    padding: 0 20px;
  }
  .cryptocurrency-text input, .cryptocurrency-text input::placeholder {
    text-align: left;
  }
  .cryptocurrency-images {
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    height: inherit;
  }
  .cryptocurrency-images-phone {
    margin: 23px 0 0 112px;
    width: 348px;
    height: 569px;
  }
  .cryptocurrency-images-shadow {
    display: initial;
    margin: -24px 0 0 -22px;
  }
  .cryptocurrency-divider hr {
    margin-top: 83px;
    width: 342px;
    height: 2px;
    background-color: #e9e9e9;
    border: none;
  }

  .invest-container, .invest-images, .invest-list-item {
    justify-content: flex-start;
  }
  .invest-title {
    width: 965px;
  }
  .invest-title h1 {
    font-family: Khula, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 56px;
  }
  .invest-content {
    flex-direction: row;
    justify-content: space-between;
    width: 1280px;
    height: 410px;
    margin-top: 157px;
    background-color: #f7f7f7;
  }
  .invest-images {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 530px;
    height: inherit;
  }
  .invest-images-phone {
    margin-top: -79px;
    margin-left: 66px;
    width: 348px;
    height: 569px;
  }
  .invest-images-shadow {
    margin-top: -24px;
    margin-right: -20px;
  }
  .invest-text {
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 750px;
    height: inherit;
    margin-top: -13px;
  }
  .invest-list-item {
    flex-direction: row;
    align-items: flex-start;
    height: 55px;
  }
  .invest-list-content {
    justify-content: space-between;
    align-items: flex-start;
    align-self: flex-end;
    height: 55px;
    margin-left: 25px;
  }
  .invest-list-content h3, .invest-list-content p {
    text-align: left;
    color: black;
  }
  .invest-list-content h3 {
    margin-top: 2px;
  }
  .invest-list-content p {
    margin-top: -23px;
  }
  .invest-button {
    display: initial;
    align-self: flex-end;
    margin-bottom: -142px;
  }

  .imac-container {
    justify-content: center;
    align-items: flex-end;
    height: 889px;
    min-width: 1280px;
    margin-top: 229px;
  }
  .imac-content {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    width: 1320px;
    height: 660px;
  }
  .imac-text {
    display: block;
    align-self: flex-start;
    width: 630px;
    height: 613px;
  }
  .imac-text h1, .imac-text p {
    text-align: left;
    color: white;
  }
  .imac-text h1 {
    font-family: Khula, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 56px;
    margin-top: 39px;
  }
  .imac-text p {
    font-family: Khula, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    height: 56px;
    margin-top: 114px;
  }
  .imac-logos {
    align-items: baseline;
    width: 488px;
    height: 125px;
    margin-top: 22px;
  }
  .imac-logos-xapo {
    order: 1;
    width: 146px;
  }
  .imac-logos-bitgo {
    order: 2;
    width: 133px;
  }
  .imac-logos-kt {
    order: 3;
    width: 125px;
  }
  .imac-button-after-text {
    display: initial;
    margin-top: 21px;
  }
  .imac-button-after-image {
    display: none;
  }
  .imac-images, .imac-images-lock, .imac-images-imac {
    justify-content: flex-start;
  }
  .imac-images {
    align-items: flex-start;
    width: 689px;
    height: inherit;
    overflow: hidden;
  }
  .imac-images-lock {
    display: flex;
    align-items: flex-end;
    width: 92px;
    height: inherit;
  }
  .imac-images-imac {
    width: 598px;
  }

  .advantages-container {
    height: 962px;
  }
  .advantages-title {
    width: 965px;
    height: 354px;
  }
  .advantages-title h1 {
    font-family: Khula, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 56px;
  }
  .advantages-content {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
    width: 1280px;
    height: 532px;
    background-color: #f7f7f7;
  }
  .advantages-item {
    justify-content: space-between;
    width: 426px;
    height: 142px;
  }

  .about-us, .about-our-partners, .about-subscribe {
    justify-content: space-between;
  }
  .about-container {
    justify-content: space-around;
    height: 1623px;
  }
  .about-us {
    width: 1192px;
    height: 208px;
  }
  .about-us h2 {
    font-family: Khula, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 34px;
    height: 112px;
  }
  .about-our-partners {
    width: 883px;
    height: 230px;
  }
  .about-our-partners h1 {
    font-family: Khula, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 46px;
    height: 60px;
  }
  .about-our-partners p {
    font-family: Khula, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    height: 56px;
  }
  .about-subscribe {
    width: 450px;
    height: 164px;
  }
  .about-subscribe h2 {
    font-family: Khula, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 34px;
    height: 56px;
  }
  .about-buttons {
    width: 407px;
  }
  .about-logos {
    flex-direction: row;
    width: 623px;
    height: 66px;
  }
  .about-email-field {
    width: 450px;
  }
  .about-bottom-button {
    display: none;
  }
}
body, html {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

/*# sourceMappingURL=main.css.map */
