.empty {
    &-small, &-blue, &-extra-large {
        @include bordered($color: $blueColor);
    }

    &-small {
        width: $buttonWidth;
        height: $buttonHeightSmall;
    }

    &-large {
        @include bordered($color: white);
        width: $buttonWidth;
        height: $buttonHeight;
    }

    &-blue {
        width: $buttonWidthSmall;
        height: $buttonHeight;
    }

    &-extra-large {
        width: $buttonWidthLarge;
        height: $buttonHeight;
    }
}

.filled {
    &-small, &-large {
        @include filled;
    }

    &-small {
        width: $buttonWidthSmall;
        height: $buttonHeight;
    }

    &-large {
        width: $buttonWidth;
        height: $buttonHeight;
    }
}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.button-icon:after { 
    @include icon(right, $buttonIconWidth, $buttonIconHeight);
 }
.arrow-white:after { background-image: url("/assets/images/icons/WhiteArrow.svg"); }
.arrow-blue:after { background-image: url("/assets/images/icons/BlueArrow.svg"); }
