@font-face {
    font-family: Khula;
    src: url('/assets/fonts/Khula-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Khula;
    src: url('/assets/fonts/Khula-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Khula;
    src: url('/assets/fonts/Khula-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Khula;
    src: url('/assets/fonts/Khula-Semibold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: SFUIText;
    src: url('/assets/fonts/SFUIText-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: SFUIText;
    src: url('/assets/fonts/SFUIText-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}