.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: $modalBackground;

    &-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 500px;
        height: 450px;
        border-radius: 5px;
        background-color: $dropDownBackgroundColor;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    &-header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 94%;
        height: 50px;
    }

    &-content {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        width: 94%;
        p {
            @include left-black;
            @include khula-font(400, 16px);
            text: {
                color: black;
                text-align: justify;
                indent: 30px;
            }
        }
    }

    &-footer {
        width: 94%;
        height: 50px;
    }

    &-close-button {
        color: black;
        font: {
            size: 35px;
            weight: bold;
        }
        &:hover, &:focus {
            color: red;
            cursor: pointer;
        }
    }

    &-shown {
        display: flex;
        overflow-y: hidden;
    }
}

// Animations
.zoom-animation {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}


@-webkit-keyframes animatezoom {
    from { -webkit-transform: scale(0) }
    to { -webkit-transform: scale(1) }
}

@keyframes animatezoom {
    from { transform: scale(0) }
    to { transform: scale(1) }
}

@media screen and (max-width: 500px) {
    .modal-container {
        margin: 0 13px 0 13px;
    }
}