// Variables
$blueColor: #61aaff;
$buttonIconWidth: 13px;
$buttonIconHeight: 8px;

// Mixins
@mixin common-button {
    display: inline-block;
    cursor: pointer;
    text: {
        align: center;
        decoration: none;
    }
    font: {
        family: Khula;
        weight: 600;
        size: 16px;
    }
}

@mixin bordered($color) {
    @include common-button;
    border: 1px solid $color;
    color: $color;
    background-color: transparent;
}

@mixin filled {
    @include common-button;
    border: none;
    background-color: $blueColor;
    color: white;
}

@mixin icon($float, $width, $height) {
    content: "";
    background: {
      size: $width;
      repeat: no-repeat;
      position: center;
    }
    width: $width;
    height: $height;
    float: $float;
    margin-top: 6px;
    margin-right: 17px;
  }

// Styles
.empty {
    &-small {
        @include bordered($color: $blueColor);
        width: 192px;
        height: 46px;
    }

    &-large {
        @include bordered($color: white);
        width: 192px;
        height: 56px;
    }

    &-blue {
        @include bordered($color: $blueColor);
        width: 189px;
        height: 56px;
    }
}

.filled {
    &-small {
        @include filled;
        width: 189px;
        height: 56px;
    }

    &-large {
        @include filled;
        width: 192px;
        height: 56px;
    }
}

.button-icon:after { 
    @include icon(right, $buttonIconWidth, $buttonIconHeight);
 }
.arrow-white:after { background-image: url("/assets/images/icons/WhiteArrow.svg"); }
.arrow-blue:after { background-image: url("/assets/images/icons/BlueArrow.svg"); }
