@font-face {
    font-family: Khula;
    src: url('/assets/fonts/Khula-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Khula;
    src: url('/assets/fonts/Khula-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Khula;
    src: url('/assets/fonts/Khula-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Khula;
    src: url('/assets/fonts/Khula-Semibold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: SFUIText;
    src: url('/assets/fonts/SFUIText-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: SFUIText;
    src: url('/assets/fonts/SFUIText-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

// Mixins
@mixin khula-light-small {
    font: {
        family: Khula;
        weight: 300;
        size: 34px;
    }
}

@mixin khula-light-middle {
    font: {
        family: Khula;
        weight: 300;
        size: 46px;
    }
}

@mixin khula-light-large {
    font: {
        family: Khula;
        weight: 300;
        size: 56px;
    }
}

@mixin khula-regular-small {
    font: {
        family: Khula;
        weight: 400;
        size: 14px;
    }
}

@mixin khula-regular-middle {
    font: {
        family: Khula;
        weight: 400;
        size: 16px;
    }
}

@mixin khula-regular-large {
    font: {
        family: Khula;
        weight: 400;
        size: 24px;
    }
}

@mixin khula-semibold {
    font: {
        family: Khula;
        weight: 600;
        size: 20px;
    }
}

