// Navigation Bar
.navbar {
    &-container {
        display: flex;
        justify-content: space-between;
        margin-top: 31px;
    }

    &-logo {
        padding-left: 23px;
        a {
            width: 190px;
            height: 47px;
        }
    }

    &-links {
        display: flex;
        justify-content: flex-end;
        padding: 12px 40px;
        a {
            align-self: center;
            text-align: center;
            padding-right: 65px;
            text-decoration: none;
            color: black;
            @include khula-regular-small;
        }
    }
}