.cryptocurrency {
    &-container, &-text, &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-container, &-text {
        justify-content: flex-start;
    }

    &-container {
        flex-wrap: wrap;
        width: 100%;
        height: 987px;
    }

    &-content {
        justify-content: space-around;
        width: $mobileMinPageWidth;
        height: inherit;
    }
    
    &-text {
        height: 427px;

        h1, p { @include center-black; }

        h1 { 
            @include khula-font(300, 32px);
            letter-spacing: 1px;
            line-height: 40px;
            width: $mobileMinPageWidth;
            margin-top: 37px;
        }
        p { 
            @include khula-font(400, 14px);
            letter-spacing: 0.5px;
            line-height: 22px;
            width: $mobileMinPageWidth;
            margin: 0;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            align-self: flex-end;
            height: 129px;
            margin-top: 42px;
        }

        input {
            width: $mobileMinPageWidth;
            height: 56px;
            background-color: $inputBackGroundColor;
            border: none;
            padding: 0;
            margin: 0;
            &, &::placeholder { 
                @include khula-font(400, 16px);
                text-align: center;
            }
        }
    }

    &-images {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 560px;

        &-phone {
            height: 720px;
            z-index: 1;
        }

        &-shadow {
            display: none;
        }
    }

    &-divider {
        display: none;
    }
}

.invest {
    &-container, &-text, &-content, &-list-item, &-list-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-container, &-text, &-list-item {
        justify-content: space-between;
    }

    &-content, &-list-content {
        justify-content: flex-start;
    }

    &-container {
        flex-wrap: wrap;
        width: 100%;
        height: 900px;
    }

    &-title {
        width: $mobileMinPageWidth;
        height: 160px;
        margin: 0;
        h1 { 
            @include center-black;
            @include khula-font(300, 32px);
            letter-spacing: 1px;
            line-height: 40px;
            width: inherit;
            margin-top: -3px;
        }
    }

    &-content {
        width: $mobileMinPageWidth;
        height: 693px;
    }

    &-images {
        display: none;
    }

    &-text {
        width: 296px;
        height: 574px;
    }

    &-list {
        &-item {
            width: inherit;
            height: 148px;
        }

        &-number {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 43px;
            height: 43px;
            @include center-white;
            @include khula-font(400, 24px);
            @include background-gradient($numberGradientStartColor,$numberGradientEndColor);
        }

        &-content {
            width: inherit;
            height: 77px;
            h3, p { @include center-black; }
            h3 {
                @include khula-font(400, 24px);
                margin: 0px;
            }
            p {
                @include khula-font(400, 16px);
                width: 238px;
                margin: 0px;
            }
        }
    }

    &-button {
        display: none;
    }
}

.imac {
    &-container, &-content, &-text {
        display: flex;
        flex-direction: column;
    }

    &-content, &-text, &-logos {
        justify-content: space-between;
        align-items: center;
    }

    &-container {
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 813px;
        min-width: $mobileMinPageWidth;
        margin: 0;
        @include background-gradient($backgroundGradientStartColor, $backgroundGradientEndColor);
    }

    &-content {
        width: $mobileMinPageWidth;
        height: 696px;
    }

    &-text {
        width: $mobileMinPageWidth;
        height: 328px;
        h1, p { @include center-white; }
        h1 {
            @include khula-font(300, 32px);
            letter-spacing: 1px;
            line-height: 40px;
            width: inherit;
            height: 80px;
        }
        p {
            @include khula-font(400, 14px);
            letter-spacing: 0.5px;
            line-height: 22px;
            width: inherit;
            height: 66px;
        }
    }

    &-logos {
        display: flex;
        width: 274px;
        height: 75px;

        &-xapo {
            order: 1;
            width: 75px;
        }

        &-bitgo {
            order: 3;
            width: 78px;
        }

        &-kt {
            order: 2;
            width: 67px;
        }
    }

    &-button-after-text {
        display: none;
    }

    &-button-after-image {
        display: initial;
    }

    &-images {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: $mobileMinPageWidth;
        height: 263px;

        &-lock {
            display: none;
        }

        &-imac {
            display: flex;
            justify-content: center;
        }
    }
}

.advantages {
    &-container, &-title, &-content, &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-container, &-content {
        justify-content: space-between;
    }

    &-container {
        flex-wrap: wrap;
        width: 100%;
        height: 1744px;
    }

    &-title {
        justify-content: flex-end;
        width: $mobileMinPageWidth;
        height: 249px;

        h1 {
            @include center-black;
            @include khula-font(300, 32px);
            letter-spacing: 1px;
            line-height: 40px;
            width: inherit;
            height: 160px;
            margin: 0;
        }
    }

    &-content {
        width: $mobileMinPageWidth;
        height: 1379px;
    }

    &-item {
        justify-content: flex-start;
        width: $mobileMinPageWidth;
        height: 154px;
        h3, p { @include center-black; }
        h3 {
            @include khula-font(600, 20px);
            margin-top: 21px;
        }
        p {
            @include khula-font(400, 16px);
            margin-top: -20px;
        }
    }
}

.about {
    &-container, &-us, &-our-partners, &-subscribe, &-logos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-us, &-our-partners, &-subscribe {
        justify-content: flex-end;
    }

    &-container {
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        height: 1525px;
    }

    &-us {
        width: $mobileMinPageWidth;
        height: 508px;
        h2 {
            @include center-black;
            @include khula-font(300, 24px);
            letter-spacing: 1px;
            line-height: 32px;
            width: 253px;
            height: 237px;
        }
    }

    &-our-partners {
        width: $mobileMinPageWidth;
        height: 509px;
        h1, p { @include center-black};
        h1 {
            @include khula-font(600, 20px);
            letter-spacing: 1px;
            line-height: 29px;
            height: 29px;
            margin: 0;
        }

        p {
            @include khula-font(400, 14px);
            letter-spacing: 0.5px;
            line-height: 22px;
            width: 253px;
            height: 103px;
            margin-top: 18px;
        }
    }

    &-subscribe {
        width: $mobileMinPageWidth;
        height: 298px;
        h2 {
            @include center-black;
            @include khula-font(300, 24px);
            letter-spacing: 1px;
            line-height: 32px;
            width: inherit;
            height: 70px;
        }
    }

    &-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: $mobileMinPageWidth;
        height: 56px;

        &-get-access {
            order: 2;
            width: $buttonWidthExtraSmall;
            @include khula-font(600, 14px);
            i {
                display: none;
            }
        }

        &-join-us {
            order: 1;
            width: $buttonWidthExtraSmall;
            @include khula-font(600, 14px);
        }
    }

    &-logos {
        justify-content: space-between;
        width: $mobileMinPageWidth;
        height: 167px;
    }

    &-email-field {
        width: inherit;
        height: 36px;
        background-color: transparent;
        padding-bottom: 6px;
        text-align: center;
        border: {
            style: none none solid none;
            color:  $emailFieldBorderColor;
            width: 1px;
        }
        &, &::placeholder { @include khula-font(400, 16px) }
    }

    &-bottom-button {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: inherit;
        height: 170px;
    }
}

@media screen and (min-width: $responsiveWidth) {
    .cryptocurrency {
        &-container {
            justify-content: center;
            height: 835px;
        }
    
        &-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            width: $minPageWidth;
            height: 625px;
        }
    
        &-text {
            flex-direction: row;
            align-content: flex-start;
            flex-wrap: wrap;
            height: 392px;
            padding: 103px 0 0 122px;
    
            h1, p { @include left-black; }
    
            h1 { 
                @include khula-font(300, 56px);
                line-height: 79px;
                width: 625px;
                margin-top: 46px;
            }
            p { 
                @include khula-font(400, 16px);
                line-height: 28px;
                width: 157px;
                margin-top: 23px;
            }
    
            form {
                flex-direction: row;
                justify-content: flex-start;
                margin-top: 37px;
            }
    
            input {
                width: 348px;
                padding: 0 20px;
                &, &::placeholder { text-align: left; }
            }
        }
    
        &-images {
            justify-content: flex-start;
            align-content: flex-start;
            flex-wrap: wrap;
            height: inherit;
    
            &-phone {
                margin: 23px 0 0 112px;
                width: 348px;
                height: 569px;
            }
    
            &-shadow {
                display: initial;
                margin: -24px 0 0 -22px;
            }
        }
    
        &-divider {
            hr {
                margin-top: 83px;
                width: 342px;
                height: 2px;
                background-color: $dividerColor;
                border: none;
            }
        }
    }
    
    .invest {
        &-container, &-images, &-list-item {
            justify-content: flex-start;
        }
    
        &-title {
            width: 955px;
            h1 {
                @include khula-font(300, 56px);
                line-height: 64px;
            }
        }
    
        &-content {
            flex-direction: row;
            justify-content: space-between;
            width: $minPageWidth;
            height: 410px;
            margin-top: 157px;
            background-color: $sectionBBackgroundColor;
        }
    
        &-images {
            display: flex;
            align-content: flex-start;
            flex-wrap: wrap;
            width: 530px;
            height: inherit;
    
            &-phone {
                margin-top: -79px;
                margin-left: 66px;
                width: 348px;
                height: 569px;
            }
    
            &-shadow {
                margin-top: -24px;
                margin-right: -20px;
            }
        }
    
        &-text {
            justify-content: space-evenly;
            align-items: flex-start;
            align-content: flex-start;
            flex-wrap: wrap;
            width: 750px;
            height: inherit;
            margin-top: -13px;
        }

        &-list {
            &-item {
                flex-direction: row;
                align-items: flex-start;
                height: 55px;
            }
        
            &-content {
                justify-content: space-between;
                align-items: flex-start;
                align-self: flex-end;
                height: 55px;
                margin-left: 25px;
                h3, p { @include left-black; }
                h3 {
                    margin-top: 2px;
                }
                p { 
                    width: 475px;
                    margin-top: -23px;
                }
            }
        }
    
        &-button {
            display: initial;
            align-self: flex-end;
            margin-bottom: -142px;
        }
    }
    
    .imac {
        &-container {
            justify-content: center;
            align-items: flex-end;
            height: 889px;
            min-width: 1320px;
            margin-top: 229px;
        }
    
        &-content {
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-start;
            width: inherit;
            height: 660px;
        }
    
        &-text {
            display: block;
            align-self: flex-start;
            width: 630px;
            height: 613px;
            h1, p { @include left-white; }
            h1 {
                @include khula-font(300, 56px);
                line-height: 79px;
                margin-top: 39px;
            }
            p {
                @include khula-font(400, 16px);
                line-height: 28px;
                width: 465px;
                height: 56px;
                margin-top: 114px;
            }
        }
    
        &-logos {
            align-items: baseline;
            width: 488px;
            height: 125px;
            margin-top: 22px;

            &-xapo {
                order: 1;
                width: 146px;
            }
    
            &-bitgo {
                order: 2;
                width: 133px;
            }
    
            &-kt {
                order: 3;
                width: 125px;
            }
        }

        &-button-after-text {
            display: initial;
            margin-top: 21px;
        }
    
        &-button-after-image {
            display: none;
        }
    
        &-images, &-images-lock, &-images-imac {
            justify-content: flex-start;
        }

        &-images {
            align-items: flex-start;
            width: 689px;
            height: inherit;
            overflow: hidden;
    
            &-lock {
                display: flex;
                align-items: flex-end;
                width: 92px;
                height: inherit;
            }
    
            &-imac {
                width: 598px;
            }
        }
    }
    
    .advantages {
        &-container {
            height: 962px;
        }
    
        &-title {
            width: 965px;
            height: 354px;
            h1 { 
                @include khula-font(300, 56px);
                line-height: 64px;
            }
        }
    
        &-content {
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
            align-content: space-around;
            flex-wrap: wrap;
            width: $minPageWidth;
            height: 532px;
            background-color: $sectionBBackgroundColor;
        }
    
        &-item {
            justify-content: space-between;
            width: 426px;
            height: 142px;
        }
    }
    
    .about {
        &-us, &-our-partners, &-subscribe {
            justify-content: space-between;
        }

        &-container {
            justify-content: space-around;
            height: 1623px;
        }
    
        &-us {
            width: 995px;
            height: 208px;
            h2 { 
                @include khula-font(300, 34px);
                line-height: 56px;
                width: inherit;
                height: 112px;
            }
        }
    
        &-our-partners {
            width: 883px;
            height: 230px;
            h1 { 
                @include khula-font(300, 46px);
                line-height: 60px;
                height: 60px;
            }
            p {
                @include khula-font(400, 16px);
                line-height: 28px;
                width: 735px;
                height: 56px;
            }
        }
    
        &-subscribe {
            width: 450px;
            height: 164px;
            h2 { 
                @include khula-font(300, 34px);
                line-height: 56px;
                height: 56px;
            }
        }
    
        &-buttons {
            width: 407px;

            &-get-access {
                order: 1;
                width: $buttonWidthSmall;
                @include khula-font(600, 16px);
                i {
                    display: initial;
                }
            }
    
            &-join-us {
                order: 2;
                width: $buttonWidthSmall;
                @include khula-font(600, 16px);
            }
        }
    
        &-logos {
            flex-direction: row;
            width: 623px;
            height: 66px;
        }
    
        &-email-field {
            width: 450px;
        }

        &-bottom-button {
            display: none;
        }
    }   
}