// Variables
$footerBackGroundColor: #fafafa;
$inputBackGroundColor: #fafafa; 
$dividerColor: #e9e9e9;
$sectionBBackgroundColor: #f7f7f7;
$numberGradientStartColor:  #559dff;
$numberGradientEndColor:  #377cff;
$backgroundGradientStartColor: #61aaff;
$backgroundGradientEndColor: #2a6dff;

// Styles
.cryptocurrency {
    &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 835px;
    }

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 1280px;
        height: 625px;
    }

    &-text {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        height: 392px;
        padding: {
            left: 122px;
            top: 103px;
        }
        h1 {
            margin: 0;
            color: black;
            text-align: left;
            @include khula-light-large;
        }
        p {
            margin-top: 23px;
            color: black;
            text-align: left;
            @include khula-regular-middle;
        }

        form {
            display: flex;
            align-items: center;
            margin-top: 37px;
        }

        input {
            width: 348px;
            height: 56px;
            background-color: $inputBackGroundColor;
            border: none;
            padding: 0 20px;
            &, &::placeholder {
                @include khula-regular-middle;
            }
        }
    }

    &-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        height: inherit;

        .silver-phone {
            margin-top: 23px;
            margin-left: 112px;
            width: 348px;
            height: 569px;
            
            &-shadow {
                margin-top: -24px;
                margin-left: -22px;
            }
        }
    }

    &-divider {
        hr {
            margin-top: 83px;
            width: 342px;
            height: 2px;
            background-color: $dividerColor;
            border: none;
        }
    }
}

.invest {
    &-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 900px;
    }

    &-title {
        margin: 0px;
        h1 {
            color: black;
            text-align: center;
            @include khula-light-large;
        }
    }

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 1280px;
        height: 410px;
        margin-top: 157px;
        background-color: $sectionBBackgroundColor;
    }

    &-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        width: 530px;
        height: inherit;

        .black-phone {
            margin-top: -79px;
            margin-left: 66px;
            width: 348px;
            height: 569px;
        
            &-shadow {
                margin-top: -24px;
                margin-right: -20px;
            }
        }
    }

    &-text {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: flex-start;
        width: 750px;
        height: inherit;
    }

    &-button {
        align-self: flex-end;
        margin-bottom: -142px;
    }
}

.list {
    &-item {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    &-number {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 43px;
        height: 43px;
        text-align: center;
        color: white;
        background-image:
            linear-gradient(
            to top right, 
            $numberGradientStartColor, $numberGradientEndColor
        );
        @include khula-regular-large;
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 25px;

        h3 {
            margin-top: 2px;
            text-align: left;
            color: black;
            @include khula-regular-large;
        }
        p {
            margin-top: -23px;
            text-align: left;
            color: black;
            @include khula-regular-middle;
        }
    }
}

.imac {
    &-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 889px;
        margin-top: 229px;
        background-image:
            linear-gradient(
            to top right, 
            $backgroundGradientStartColor, $backgroundGradientEndColor
        );
    }

    &-content {
        display: flex;
        justify-content: flex-end;
        height: 660px;
    }

    &-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 630px;
        height: 545px;
        
        h1 {
            @include khula-light-large;
            color: white;
            height: 79px;
        }
        p {
            @include khula-regular-middle;
            color: white;
            height: 56px;
        }
    }

    &-logos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 488px;
        height: 125px;
    }

    &-images {
        display: flex;
        width: 689px;
        height: inherit;
        overflow: hidden;

        &-lock {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            width: 92px;
        }

        &-imac {
            display: flex;
            justify-content: flex-start;
            width: 598px;
        }
    }
}

.advantages {
    &-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    &-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 429px;
        h1 {
            @include khula-light-large;
            color: black;
            text-align: center;
            margin-top: 148px;
        }
    }

    &-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        width: 1280px;
        height: 532px;
        background-color: $sectionBBackgroundColor;
    }

    &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 426px;
        height: 266px;

        h3 {
            @include khula-semibold;
            color: black;
            text-align: center;
            margin-top: 28px;
        }

        p {
            @include khula-regular-middle;
            color: black;
            text-align: center;
            margin-top: -23px;
        }
    }
}

@media screen and (min-width: 1320px) {
    .cryptocurrency-content {
        max-width: 1280px;
    }    
}